* {
    box-sizing: border-box;
}

body {
    background-color: #282c34;
    font-family: 'Source Sans Pro', sans-serif;
}

.buttons-and-results {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.rock {
    color: #e3be7a;
}

.paper {
    color: #5eaae9;
}

.scissors {
    color: #bd74d4;
}

.rock, .paper, .scissors {
    border: 1px solid #cc9764;
    background-color: #282c34;
}

.buttons, .results {
    width: 25vw;
}

.results {
    color: #df6b74;
    display: flex;
    justify-content: center;
}

.score-and-winner {
    color: #95bf77;
    display: flex;
    justify-content: center;
    padding: 2rem;
}